@import '../styles/common';

.ix-header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #090920;
  z-index: 3000;

  .btn-menu,
  .btn-close {
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    cursor: pointer;
  }

  .btn-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/img/icon-menu.svg);
    background-size: 28px 26px;
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/img/icon-close.svg);
    background-size: 28px 28px;
    font-size: 0;
  }

  @media only screen and (max-width: $mobileSize) {
    .btn-menu {
      width: vw(48);
      height: 100%;
      background-image: url(/img/icon-menu.svg);
      background-size: vw(18) vw(16);
    }
    .btn-close {
      width: vw(48);
      height: vw(48);
      background-size: vw(16.07) vw(16.07);
    }
  }

  .ix-logo {
    padding: 21px 0 21px 75px;
    .ix-logo-large {
      width: 212px;
      height: 38px;
      background-size: 212px 38px;
      background-image: url(#{$imgPath} + 'ix-logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -9999px;
      .link {
        display: block;
        height: 100%;
      }
    }
    @media only screen and (max-width: $tabletSize) {
      padding-left: 25px;
    }
    @media only screen and (max-width: $mobileSize) {
      padding: vw(12) vw(15) vw(12.91);
      .ix-logo-large {
        width: vw(140);
        height: vw(25.09);
        background-size: vw(140) vw(25.09);
      }
    }
  }

  @media only screen and (min-width: $tabletSize) {
    &[data-current-nav] {
      &[data-current-nav='about'] {
        [data-nav='about'] {
          .link {
            color: #fff !important;
          }
        }
      }
      &[data-current-nav='ecosystem'] {
        [data-nav='ecosystem'] {
          .link {
            color: #fff !important;
          }
        }
      }
      &[data-current-nav='contact'] {
        [data-nav='contact'] {
          .link {
            color: #fff !important;
          }
        }
      }
    }
  }

  .ix-navigator {
    flex-grow: 1;
    padding-right: 75px;
    .ix-navi-list {
      .list {
        display: flex;
        justify-content: right;
        .item {
          margin-left: 50px;
          .link {
            display: block;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #c0c4c9;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $tabletSize) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #090920;
      padding: 0;
      .ix-navi-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .ix-full-logo {
          display: block;
          width: 138px;
          height: 125.12px;
          background-image: url(#{$imgPath} + 'ix-full-logo.svg');
          background-repeat: no-repeat;
          background-size: 138px 125.12px;
          font-size: 0;
        }
        .list {
          flex-direction: column;
          margin-top: 65.5px;
          .item {
            margin: 0;
            text-align: center;
            .link {
              font-size: 20px;
              line-height: 80px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $mobileSize) {
      .ix-navi-list {
        .ix-full-logo {
          width: vw(138);
          height: vw(121.5);
          background-size: vw(138) vw(121.5);
        }
        .list {
          margin-top: vw(65.5);
          .item {
            .link {
              font-size: vw(16);
              line-height: vw(59);
            }
          }
        }
      }
    }
  }
}
